li {
  margin-bottom: 10px;
}
a {
  padding: 5px 5px;
}

a:hover {
  background-color: rgb(200, 200, 200);
}

.active {
  background-color: rgb(200, 200, 200);
}

section {
  display: flex;
  margin: auto;
  width: 90%;
}

.section-left {
  width: 25%;
  background-color: rgb(250, 250, 250);
  padding: 10px;
}

.section-middle {
  width: 75%;
  display: flex;
  flex-direction: column;
}

.section-right {
  width: 100%;
  background-color: white;
}

.navtt {
  width: 20%;
  background-color: rgb(255, 180, 236);
  padding: 10px;
  max-height: 300px;
  max-width: 20%;
}

.navttht {
  width: 80%;
  display: block;
}

.classrvp {
  border-left: 1px solid black;
}
.thaydoimk {
  border-left: 1px solid black;
}

@media (max-width: 1300px) {
  ul {
    padding: 0;
  }
  a {
    padding: 3px;
    font-size: 12px;
  }
  .navtt {
    max-height: 250px;
    font-size: 14px;
  }
}
@media (max-width: 600px) {
  ul {
    width: 100px;
    padding: 0;
  }
  section {
    flex-direction: column;
  }

  .section-left {
    width: 100%;
    margin-bottom: 10px;
  }

  .section-right {
    width: 100%;
  }
  .navtt {
    max-height: 165px;
    font-size: 8px;
    max-width: 80px;
  }
  .navttht {
    width: 80%;
    font-size: 8px;
  }
  a {
    font-size: 6px;
  }
  .classrvp {
    max-width: 100%;
    border-left: none;
    border-top: 1px solid black;
  }
  .thaydoimk {
    max-width: 100%;
    border-left: none;
    border-top: 1px solid black;
  }
}
