.spinner {
  display: block;
  margin: auto;
  background-image: url("vongQuay.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: red;
  width: 500px;
  height: 500px;
  position: relative;
  border-radius: 50%;
  margin-bottom: 20px;
  overflow: hidden;
  z-index: 1;
}

.needle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: bottom center;
  transition: transform 3s ease-out; /* Tăng thời gian transition lên 3 giây */
}

.needle:before,
.needle:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: bottom center;
}

.needle:before {
  width: 100px;
  height: 100px;
  background-image: url("Muiten.png");
  background-size: contain; /* Đảm bảo rằng hình ảnh nền sẽ cover toàn bộ khu vực của pseudo-element */
  overflow: hidden;
  background-position: center;
  transform: translateY(-64%) translateX(-50.1%) rotate(0);
}

.light {
  content: "";
  position: absolute;
  width: 10px; /* Đường kính của hình tròn */
  height: 10px; /* Đường kính của hình tròn */
  background-color: rgb(255, 255, 0); /* Màu sắc của hình tròn */
  border-radius: 50%; /* Đảm bảo hình tròn bằng cách thiết lập border-radius thành 50% */
  animation: flicker 1.5s infinite alternate;
}

.light::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150%; /* Kích thước của bóng */
  height: 150%; /* Kích thước của bóng */
  background: radial-gradient(
    circle,
    rgba(255, 255, 0, 0) 0%,
    rgba(255, 255, 0, 0.6) 80%
  ); /* Màu của bóng */
  border-radius: 50%; /* Đảm bảo hình tròn */
  z-index: -1; /* Đưa bóng đèn xuống dưới phần tử gốc */
  animation: glow 1.5 infinite alternate; /* Áp dụng animation cho bóng */
}

.light-container {
  display: block;
}

.light:nth-child(1) {
  animation-delay: 0s;
}
.light:nth-child(2) {
  animation-delay: 0.25s;
}
.light:nth-child(3) {
  animation-delay: 0.5s;
}

.light:nth-child(4) {
  animation-delay: 0.75s;
}
.light:nth-child(5) {
  animation-delay: 1s;
}
.light:nth-child(6) {
  animation-delay: 1.25s;
}

.light:nth-child(7) {
  animation-delay: 1.5s;
}
.light:nth-child(8) {
  animation-delay: 1.75s;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 10px 5px rgba(255, 255, 0, 0.1);
  }
  25% {
    box-shadow: 0 0 10px 5px rgba(255, 255, 0, 0.3);
  }
  50% {
    box-shadow: 0 0 20px 10px rgba(255, 255, 0, 0.5);
  }
  75% {
    box-shadow: 0 0 10px 5px rgba(255, 255, 0, 0.8);
  }
  100% {
    box-shadow: 0 0 10px 5px rgba(255, 255, 0, 1);
  }
}

@keyframes flicker {
  0% {
    opacity: 0.3;
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.2;
  }
  75% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

.spinButton {
  display: block;
  margin: auto;
  width: 100px;
  height: 30px;
}
fieldset {
  font-size: 16px;
  text-align: center;
  max-width: 400px;
  width: 400px;
  height: 20px;
  display: block;
  margin: auto;
  margin-top: 10px;
  padding: 10px 10px;
}

@media (max-width: 600px) {
  .spinner {
    width: 200px;
    height: 200px;
  }
  .needle:before {
    width: 35px;
    height: 35px;
  }
  fieldset {
    font-size: 8px;
    width: 230px;
    height: 10px;
    padding: 5px 5px;
  }
  .light {
    display: none;
  }
}
